body {
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

h2 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  filter: brightness(150%);
}

.clickable {
  color: #0099cc;
  cursor: pointer;
}

.clickable:hover {
  color: #33ccff;
}

.choice {
  color: #33ccff;
}